html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* cover */
.pq-intro {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
}

.pq-video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

.pq-intro .pq-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.pq-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 12%;
}

.pq-content h1 {
    font-family: 'FangSong';
    font-size: 300%;
    font-weight: 150;
    color: #E1EFE9;
    line-height: 150%;
    padding: 70px 0;
}

.pq-btn {
    font-family: 'FangSong';
    font-size: 135%;
    font-weight: 400;
    color: #92b1b8;
    border: solid #92b1b8 2px;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.5s;
    text-decoration: none !important;
}

.pq-btn:hover {
    color: #f6f8f7;
    border: solid #f6f8f7 3px;
}

p {
    font-size: 150%;
    line-height: 120%;
}

/* mobile model */
/* mobile */

.pq-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .pq-mobile-hide {
        display: none !important;
    }

    .pq-mobile-show {
        display: block !important;
    }
    .pq-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .pq-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .pq-mobile-wide {
        width: 100% !important;
    }
}

